/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 20, 2018, 10:34:02 AM
    Author     : HP Pavilion
*/
.header-ijd {
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
}
.blue_1 {
    color: #007fff;
}
.green-1 {
    color: #008d4c;
}
.module-info {
    padding: 5px 0px;
}

body {
  font-size: 9px;
  /*font-family: sans-serif;*/
}
table.table {
  border-collapse: collapse;
  width: 100%;
}
th.cell, td.cell {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ffffff;
}
th.cell {
    background-color: #0291df;
    color: #ffffff;
    padding: 4px 2px;
}
td.cell {
    /*background-color: #d7ebf9;*/
}
table.table tbody tr:nth-child(odd) {
    background-color: #e1edf7;
}
table.table tbody tr:nth-child(even) {
    background-color: #d7ebf9;
}